@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
body{
    background-color: #2b3e50;
    margin: 0px;
    padding: 0px;
}
#nav-container{
    margin: 10px auto;
    padding-top: 20px;
    height: fit-content;
    width: fit-content;
}
#nav-logo{
    height: 140px;
    
}
#main-body{
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: 50px auto;
}

.lab-link{
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    color: black;
    font-size: 24px;   
}
.exercise{
    margin-top: 30px!important;
    margin-left: 50px!important;
    width: 560px!important;
    
}
.lab-block{
    border: 1px solid black;
    background-color: #c2bfbf;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    height: 50px;
    width: 600px;
    margin: 20px 10px 20px 10px;
    transition: ease-in-out transform 200ms;
}
.lab-block:hover{
    transform: scale(1.04);
    transition: ease-in-out transform 400ms;
    cursor: pointer;
}
.lab-sous-block{
    border: 1px solid black;
    background-color: #c2bfbf;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    height: 50px;
    width: 550px;
    
    margin-top: 20px;
    margin-left: 60px;
    transition: ease-in-out transform 200ms;
}
.lab-sous-block:hover{
    transform: scale(1.04);
    transition: ease-in-out transform 400ms;
    cursor: pointer;
}
.pre-block-header{
    color: #C2BFBF;
    font-size: 28px;
    font-family: 'Titillium Web', sans-serif;
}
.pre-block-container{
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
    #nav-container{
        margin: 10px auto;
        width: fit-content;
    }
    #nav-logo{
        height: 80px;
        margin: 0px auto;
    }
    #main-body{
        width: 100vw;
        height: fit-content;
        padding: 0px;
        margin-left: 0px;
    }
    .lab-link{
        text-decoration: none;
        font-family: 'Titillium Web', sans-serif;
        color: black;
        font-size: 20px;   
    }
    .exercise{
        margin-top: 30px!important;
        margin-left: 50px!important;
        width: 560px!important;
        
    }
    .lab-block{
        border: 1px solid black;
        background-color: #c2bfbf;
        border-radius: 10px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        height: 50px;
        width: 85vw;
        margin: 20px auto;
        transition: ease-in-out transform 200ms;
    }
    .lab-block:hover{
        transform: scale(1.04);
        transition: ease-in-out transform 400ms;
        cursor: pointer;
    }
  }
